
<div class="footer">
    <img style="height: 100%" src="https://media0.giphy.com/media/fvM5D7vFoACAM/200.gif" alt="">
    <h3>© Sam Siegel Productions</h3>
    <div  class="call">
        <div>Don't call us.</div>
        <img style="height: 80%;"src="https://i.imgflip.com/1g59f8.jpg" alt="">

    </div>

</div>