<header>
    <img class = "headIMG" src="https://media0.giphy.com/media/ZO8upuwNKfpm0/giphy.gif" alt="doge">
    <a href="/">
        <h1>Wow, such Doge!</h1>
    </a>
    <div id = "head-box">
        <a href="/doges">
            <h2>Doge Compendium ></h2>
        </a>
        <a href="/feedback">
            <h2>Feedback ></h2>
        </a>
        <a href="/chat">
            <h2>Doge-Chat ></h2>
        </a>
    </div>
</header>