<!DOCTYPE html>
<html>

<% include partials/structure/head.ejs %>
<body style=" background-image: url('http://www.themesltd.com/headers2/doge_faces.png')">
    <% include partials/content/header.ejs %>
    <% include partials/content/artworks.ejs %>



    <% include partials/content/footer.ejs %>
     
    <!-- container -->
    <% include partials/structure/scripts.ejs %>
    
</body>

</html>