<!DOCTYPE html>
<html>

<% include partials/structure/head.ejs %>

<body>

    <% include partials/content/header.ejs %>

    <div class="back">
        <div class = "blank"></div>
        <div class = "icons">
            <% include partials/content/artwork.ejs %>
        </div>
    </div>
    <% include partials/content/footer.ejs %>
     
    <!-- container -->
    <% include partials/structure/scripts.ejs %>
    
</body>

</html>