.container{
    background-color: rgb(58, 63, 78); /* For browsers that do not support gradients */
    background-image:  linear-gradient(to top left, rgb(90, 122, 168), rgb(67, 91, 126), rgb(45, 56, 87));
    background-size: cover;
    width: 400px;
    border: 1px solid black;
    border-radius: 10%;
}s
.headerBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navBox{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}
#chat, #budget, #tasks, #log{
    width: 22%;
    height: 100%;
    border: 1px solid black;
    background-color: rgb(156, 174, 192);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
#chat{
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
}
#log{
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
}
#budget:hover, #tasks:hover{
    border-top: 2px solid rgb(77, 76, 76);
    border-bottom: 2px solid lightgray;
}
#budget, #tasks{
    border-top: 2px solid lightgray;
    border-bottom: 2px solid rgb(77, 76, 76);
    border-right: 2px solid rgb(77, 76, 76);
}
#chat{
    border-top: 2px solid lightgray;
    border-bottom: 2px solid rgb(77, 76, 76);
    border-left: 2px solid lightgray;
}
#chat:hover{
    border-top: 2px solid rgb(77, 76, 76);
    border-bottom: 2px solid lightgray;
    border-left: 2px solid rgb(77, 76, 76);
}
#log{
    border-top: 2px solid lightgray;
    border-bottom: 2px solid rgb(77, 76, 76);
    border-right: 2px solid rgb(77, 76, 76); 
}
#log:hover{
    border-top: 2px solid rgb(77, 76, 76);
    border-bottom: 2px solid lightgray;
    border-right: 2px solid lightgray;
}
h1{
    text-shadow: 2px 2px black;
        text-align: center;
    font-size: 50px;
    color: lightgray;
}
.mockGraph{
    height: 375px;
    width: 95%;
    margin-left: 2.4%;
    border: 1px solid black;
}
footer{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
#rootList{
    border: 1px solid black;
    margin-left: 5px;
}
ul{
    margin: 5px;
    margin-left: 5%;
    padding-bottom: 5px;
    padding-left: 2px;
    border: none;
    border-top: .25px solid black;
    border-left: .25px solid black;
    box-shadow: 5px 5px 8px black;
    background-color: rgba(230, 241, 252, 0.466);
    border-radius: 1%;
    width: 90%;
}
.unordered{
    background-color: #c0ae9c;
}
.unordered1{
    background-color: #aec09c;
}
.unordered2{
    background-color: #9cc0c0;
}
.unordered3{
    background-color: #ae9cc0;
}
.unordered, .unordered0, .unordered1, .unordered2, .unordered3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/* .down0, .down1, .down2, .down3{
    border: none;
    background-color: none;
    margin-right: 10px;
    font-size: 20px;
} */
/* .bar{
    border:1px solid black;
    height: 30px;
} */
.owner, .owner0, .owner1, .owner2, .owner3{
    color: grey;
}
.addOn, .addOn1, .addOn2, .addOn3{
    color: green;
    border:none;
}
form{
    display: flex;
    flex-direction: column;
}
.scrap{
    background-color: tomato;
    margin-left: 79%;
    width: 20%;
}
.submit{
    background-color: aquamarine;
}
#subtask, #owner, #description{
    width: 70%;
    border:none;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.togs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.tog{
    background-color: green;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    height: 10px;
}
.tog2{
    height: 10px;
    background-color:red;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}