<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='temp.css' />
</head>
<body>
    <div class="container">
    <div class ="headerBox">
        <h1>Tasks</h1>
    </div>

    <div class ="navBox">
        <div id='chat'>C</div>
        <div id='budget'>B</div>
        <div id='tasks'>T</div>
        <div id='log'>L</div>
    </div>

    <div class ='mockGraph'>
        *This will be a visualsed somthing.*
    </div>

    <div class ='projectsBox'>
        <ul id = 'task_0'> <div class = 'unordered ul0 rootList'><p class="pName">Project name</p> <p class="owner">Travis</p> <button class = 'down0'>V</button></div>
            <span>THIS is a description. Loerium epsum fabulam maribulam quintus est lauda magnum</span>
            <div class= "addOn"> + Add Sub-Class</div>
        </ul>
    </div>

    <footer>
        <button>To Profile</button>
        <button>Log Out</button>
    </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    <script src="temp.js"></script>
</body>
</html>